/* src/styles.css */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #f3efeb;
    font-family: 'Segoe UI', sans-serif;
}

.bg-brown {
    background-color: #5d4037 !important;
}

.text-brown {
    color: #5d4037 !important;
}

.btn-brown {
    background-color: #5d4037;
    color: white;
}

.btn-brown:hover {
    background-color: #4e342e;
}

.btn-outline-brown {
    border: 1px solid #5d4037;
    color: #5d4037;
}

.btn-outline-brown:hover {
    background-color: #5d4037;
    color: white;
}

.table-brown {
    background-color: #5d4037;
}